# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
## JetBrains
.idea
.vscode

# dependencies
/node_modules

# testing
/coverage

# production
/build
dist
web-ext-artifacts

# env
## default
.env
## Local overrides. This file is loaded for all environments except test.
.env.local
## Local overrides of environment-specific settings.
.env.development.local
.env.test.local
.env.production.local
## Environment-specific settings.
.env.development
.env.test
.env.production

# node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache
.eslintcache
.cache
.parcel-cache

# misc
.DS_Store
tmp